* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
}

body {
    background: #eaf1fa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 22px;
}

.nav-box {
    width: 80%;
    max-width: 1100px;
    background: #ffffff;
    height: 58px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.left {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 20px;
}

.left a {
    text-decoration: none;
    color: black;
}

.logo {
    font-size: 15px;
    font-weight: 600;
}

.line {
    width: 1px;
    height: 23px;
    background: #d0d0d0;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu a {
    color: #444;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s;
}

.right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.right a {
    text-decoration: none;
    color: #444;
    font-size: 14px;
}

.signup {
    background: #2a5088;
    color: #fff !important;
    padding: 8px 18px;
    border-radius: 5px;
    font-weight: 600;
}

.quiz-container {
    margin-top: 10rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-title {
    background: #294b74;
    color: white;
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 22px;
    margin-bottom: 30px;
}

.quiz-box {
    background: #294b74;
    padding: 40px 70px;
    border-radius: 12px;
    color: white;
    font-size: 32px;
    line-height: 1.9;
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
}

.spoiler {
    background: #294b74;
    padding: 14px 26px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    width: fit-content;
    transition: 0.3s;
    margin: 15px;
}

.spoiler-button {
    background: none;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.spoiler-text {
    display: none;
    color: #fff;
    font-size: 20px;
}

.spoiler.revealed .spoiler-button {
    display: none;
}

.spoiler.revealed .spoiler-text {
    display: block;
}

.buttons-row {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    margin-top: 30px;
}

.next-btn {
    background: #294b74;
    color: white;
    padding: 12px 22px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    transition: 0.2s;
}

.next-btn:hover {
    background: #1f3a5a;
}

footer {  
    position: relative;
    margin-top: 9rem;
    padding: 25px 0;
    background: #234b7a;
    width: 100%;
    text-align: center;
    color: white;
}
