@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "BBH Sans Bogle", sans-serif;
    font-weight: 200;
    background-color: #02923f;
    color: #fff;
}

main {
    background-color: #f7c201;
    border-radius: 3rem;
    padding: 3rem;
}

header {
    display: flex;
    background-color: #28176f;
    justify-content: space-around;
    align-items: center;
    min-height: 5rem;
    font-size: 1.5rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}