* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
    user-select: none;
    zoom: 150%;
}

body {
    background: #eaf1fa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 22px;
}

.nav-box {
    width: 80%;
    max-width: 1100px;
    background: #ffffff;
    height: 58px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.left {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 20px;
}

.left a {
    text-decoration: none;
    color: black;
}

.logo {
    font-size: 15px;
    font-weight: 600;
}

.line {
    width: 1px;
    height: 23px;
    background: #d0d0d0;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu a {
    color: #444;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s;
}

.right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.right a {
    text-decoration: none;
    color: #444;
    font-size: 14px;
}

.signup {
    background: #2a5088;
    color: #fff !important;
    padding: 8px 18px;
    border-radius: 5px;
    font-weight: 600;
}

.container {
    width: 82%;
    max-width: 1300px;
    margin-top: 30px;
}

.main-title {
    background: #294b74;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    width: fit-content;
}

.intro-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro-text {
    text-align: justify;
    flex: 1;
    line-height: 1.7;
}

.intro-text p {
    font-size: 20px;
}

.intro-img {
    width: 47%;
    display: flex;
    justify-content: flex-end;
}

.intro-img img {
    width: 420px;
    object-fit: contain;
}

.section-title {
    background: #294b74;
    color: white;
    padding: 12px;
    border-radius: 6px;
    font-size: 22px;
    font-weight: 700;
    width: fit-content;
    margin: 50px 0 25px 0;
}

.section-diversidade,
.section-ingredientes,
.section-festas {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.text-diversidade,
.text-ingredientes,
.text-festas {
    flex: 1;
    background: #294b74;
    color: white;
    padding: 30px 20px;
    border-radius: 6px;
    font-size: 24px;
    line-height: 1.65;
    min-width: 250px;
}

.img-diversidade img,
.img-ingredientes img,
.img-festas img {
    width: 580px;
    border-radius: 10px;
    height: auto;
}

.section-ingredientes .right-content {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: 60px;
    padding: 25px 0;
    background: #234b7a;
    width: 100%;
    text-align: center;
    color: white;
}
