* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
    user-select: none;
}

body {
    background: #eaf1fa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 22px;
}

.nav-box {
    width: 80%;
    max-width: 1100px;
    background: #ffffff;
    height: 58px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.left {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 20px;
}

.left a {
    text-decoration: none;
    color: black;
}

.logo {
    font-size: 15px;
    font-weight: 600;
}

.line {
    width: 1px;
    height: 23px;
    background: #d0d0d0;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu a {
    color: #444;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s;
}

.right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.right a {
    text-decoration: none;
    color: #444;
    font-size: 14px;
}

.signup {
    background: #2a5088;
    color: #fff !important;
    padding: 8px 18px;
    border-radius: 5px;
    font-weight: 600;
}

.container {
    width: 80%;
    margin-top: 50px;
}

.main-title {
    background: #294b74;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    width: fit-content;
}

.intro-section {
    display: flex;
    align-items: center;
    height: 350px;
}

.intro-section p {
    flex: 1;
    font-size: 20px;
    line-height: 1.7;
}

.intro-img {
    flex: 1;
    display: flex;
}

.intro-img img {
    max-width: 430px;
    margin-top: -100px;
}

.section-title {
    background: white;
    color: #294b74;
    padding: 12px 24px;
    border-radius: 5px;
    border: 2px solid #294b74;
    width: fit-content;
    margin: 50px auto 25px auto;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}

.section-diversidade,
.section-musica,
.section-festas,
.section-esportes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.img-diversidade, 
.img-musica, 
.img-festas, 
.img-esportes {
    width: 350px;
}

.text-diversidade, 
.text-musica, 
.text-festas, 
.text-esportes {
    flex: 1;
    background: #294b74;
    color: white;
    padding: 20px;
    border-radius: 5px;
    border: solid #FFF;
    font-size: 20px;
    line-height: 1.6;
}

.img-diversidade img, 
.img-musica img, 
.img-festas img, 
.img-esportes img {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    height: 100%;
}

footer {
    margin-top: 60px;
    padding: 25px 0;
    background: #234b7a;
    width: 100%;
    text-align: center;
    color: white;
}

.sub-menu {
    width: 80%;
    max-width: 1100px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    gap: 25px;
    background: #294b74;
    padding: 12px 20px;
    border-radius: 10px;
}

.sub-menu a {
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
    font-size: 16px;
    transition: color 0.2s;
}

.sub-menu a:hover {
    color: #1d3d5f;
}