* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
}

body {
    background: #eaf1fa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 22px;
}

.nav-box {
    width: 80%;
    max-width: 1100px;
    background: #ffffff;
    height: 58px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.left {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 20px;
}

.left a {
    text-decoration: none;
    color: black;
}

.logo {
    font-size: 15px;
    font-weight: 600;
}

.line {
    width: 1px;
    height: 23px;
    background: #d0d0d0;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu a {
    color: #444;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s;
}

.right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.right a {
    text-decoration: none;
    color: #444;
    font-size: 14px;
}

.signup {
    background: #2a5088;
    color: #fff !important;
    padding: 8px 18px;
    border-radius: 5px;
    font-weight: 600;
}

.container {
    width: 80%;
    margin-top: 50px;
}

.title {
    background: #294b74;
    color: white;
    padding: 12px 25px;
    border-radius: 10px;
    width: fit-content;
    margin-left: 20px;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.intro-text {
    flex: 1;
    padding: 30px;
    font-size: 20px;
}

.intro-img img {
    width: 460px;
    border-radius: 10px;
}

.card {
    background: transparent;
    margin-bottom: 50px;
}

.card-title {
    background: #294b74;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    border: 2px solid white;
    width: fit-content;
    margin: 0 auto 15px auto;
    font-weight: 700;
    font-size: 20px;
}

.card-box {
    background: #294b74;
    padding: 25px;
    border-radius: 12px;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 26px;
    line-height: 1.6;
}

.card-box img {
    width: 230px;
    border-radius: 10px;
}

.card-box.reverse {
    flex-direction: row-reverse;
}

.complementos {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comp-wrapper {
    position: relative;
    width: 100%;
}

.comp-img {
    position: absolute;
    top: -15px;
    right: -6px;
    width: 300px;
    border-radius: 10px;
}

.comp-box {
    background: #428BC1;
    padding: 25px 18px 18px 18px;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    line-height: 1.5;
    min-height: 160px;
}

.comp-text {
    padding-right: 18rem;
}

footer {
    margin-top: 60px;
    padding: 25px 0;
    background: #234b7a;
    width: 100%;
    text-align: center;
    color: white;
}
