* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "DM Sans", sans-serif;
    user-select: none;
}

body {
    margin: 0;
    background: #eaf1fa;
    font-family: "DM Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 22px;
}

.nav-box {
    width: 80%;
    max-width: 1100px;
    background: #ffffff;
    height: 58px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    gap: 20px;
}

.left a {
    text-decoration: none;
    color: black;
}

.logo {
    font-size: 15px;
    font-weight: 600;
}

.line {
    width: 1px;
    height: 23px;
    background: #d0d0d0;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 30px;
    width: auto;
}

.menu a {
    text-decoration: none;
    color: #444;
    font-size: 14px;
    font-weight: 500;
    transition: color 0.2s;
}

.menu a:hover {
    color: #000;
}

.menu a.active {
    border-bottom: 2px solid #000;
    padding-bottom: 3px;
    font-weight: 700;
    color: #000;
}

.right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.right a {
    text-decoration: none;
    color: #444;
    font-size: 14px;
    font-weight: 500;
    transition: color 0.2s;
}

.right a.login:hover {
    color: #000;
}

.signup {
    background: #2a5088;
    color: #fff !important;
    padding: 8px 18px;
    border-radius: 8px;
    font-weight: 600;
    transition: background 0.2s;
}

.signup:hover {
    background: #203f67;
}

.hero {
    width: 80%;
    max-width: 1100px;
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-box {
    max-width: 450px;
}

.text-box h1 {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 18px;
}

.text-box p {
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 30px;
    color: #333;
}

.btn {
    border: solid white;
    background: #244c7a;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 8px;
    font-size: 16px;
    transition: background 0.2s;
    display: inline-block;
}

.btn:hover {
    background: #1d3d5f;
}

.img-box {
    position: relative;
    width: 800px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box img {
    width: 100%;
    max-width: 900px;
    height: auto;
}